* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik Mono One', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;  
}


.link li {
    list-style: none;
    display: inline-block;
    margin-top: 50px;
    margin-right: 60px;
    position: relative;
    left: 81%;
}

.link a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 100%;
    border-radius: 50%;
}

.contenitore {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    background-size: cover;
    height: 60%;
    width: 85%;    
} 

h2 {
    color: #ffff00;
    text-align: center;
}

#rosso {
    background-color: red;
}

#verde {
    background-color: green;
}

#giallo {
    background-color: yellow;
}

.scritta-verde {
    color: green;
    text-align: center;
}